<div
  class="bg-no-repeat bg-center w-full h-screen"
  style="background-image: url('/images/clinica-3.jpg')"
>
  <div class="home-container px-4">
    <p-card
      [style]="{
      width: '25rem',
      height: '15rem',
      overflow: 'hidden',
      background: 'white',
      border: 'solid 1px white',
    }"
    >
      <div class="home-container">
        <div class="w-full p-4 text-center border-round">
          <h2 class="font-italic pb-4 font-bold">Bienvenido a la Clínica</h2>
        </div>
      </div>
    </p-card>
  </div>
</div>
