<app-header></app-header>
<main class="container">
  <h1 class="text-red-200">HOLA MUNDO</h1>
  <table style="width: 100%; border-collapse: collapse; border: 1px solid #ddd">
    <thead>
      <tr style="background-color: #f2f2f2">
        <th style="padding: 8px; border: 1px solid #ddd; text-align: left">
          ID Paciente
        </th>
        <th style="padding: 8px; border: 1px solid #ddd; text-align: left">
          Nombre
        </th>
        <th style="padding: 8px; border: 1px solid #ddd; text-align: left">
          Apellido
        </th>
        <th style="padding: 8px; border: 1px solid #ddd; text-align: left">
          Fecha Cita
        </th>
        <th style="padding: 8px; border: 1px solid #ddd; text-align: left">
          Médico
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="padding: 8px; border: 1px solid #ddd">001</td>
        <td style="padding: 8px; border: 1px solid #ddd">Ana</td>
        <td style="padding: 8px; border: 1px solid #ddd">García</td>
        <td style="padding: 8px; border: 1px solid #ddd">2025-06-19</td>
        <td style="padding: 8px; border: 1px solid #ddd">Dr. Pérez</td>
      </tr>
      <tr>
        <td style="padding: 8px; border: 1px solid #ddd">002</td>
        <td style="padding: 8px; border: 1px solid #ddd">Luis</td>
        <td style="padding: 8px; border: 1px solid #ddd">Martínez</td>
        <td style="padding: 8px; border: 1px solid #ddd">2025-06-20</td>
        <td style="padding: 8px; border: 1px solid #ddd">Dra. López</td>
      </tr>
      <tr>
        <td style="padding: 8px; border: 1px solid #ddd">003</td>
        <td style="padding: 8px; border: 1px solid #ddd">Marta</td>
        <td style="padding: 8px; border: 1px solid #ddd">Rodríguez</td>
        <td style="padding: 8px; border: 1px solid #ddd">2025-06-21</td>
        <td style="padding: 8px; border: 1px solid #ddd">Dr. Gómez</td>
      </tr>
      <tr>
        <td style="padding: 8px; border: 1px solid #ddd">004</td>
        <td style="padding: 8px; border: 1px solid #ddd">Pedro</td>
        <td style="padding: 8px; border: 1px solid #ddd">Sánchez</td>
        <td style="padding: 8px; border: 1px solid #ddd">2025-06-22</td>
        <td style="padding: 8px; border: 1px solid #ddd">Dra. Fernández</td>
      </tr>
      <tr>
        <td style="padding: 8px; border: 1px solid #ddd">005</td>
        <td style="padding: 8px; border: 1px solid #ddd">Sofía</td>
        <td style="padding: 8px; border: 1px solid #ddd">Díaz</td>
        <td style="padding: 8px; border: 1px solid #ddd">2025-06-23</td>
        <td style="padding: 8px; border: 1px solid #ddd">Dr. Ruiz</td>
      </tr>
    </tbody>
  </table>
  
  <app-dynamic-form>
  </app-dynamic-form>
  <router-outlet />
</main>
<app-footer></app-footer>
