<div class="gap-3 mb-3 flex flex-column">
  <label class="col-12" [for]="id">{{ label }}</label>

  <p-autoComplete
    [inputId]="id"
    [formControl]="control"
    [suggestions]="suggestions()"
    (completeMethod)="filter($event)"
    [placeholder]="placeholder"
    [dropdown]="true"
    [forceSelection]="true"
    [optionLabel]="optionLabel"
    autocomplete="on"
    selectOnFocus="true"
  >
    <ng-template let-item pTemplate="item">
      {{ displayWith(item) }}
    </ng-template>
    <!--  -->
  </p-autoComplete>
</div>
