@import "primeicons/primeicons.css";




body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header,footer{
  width: 100%;
}

h2 {
  text-align: center;
  font-weight: 400;
  margin-bottom: 0px;
}
.sub-title {
  font-weight: 300;
}


.container {
  width: 100%;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  min-height: 80%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
   
  }
 
}
.scrollNoVisible::-webkit-scrollbar {
 display: none;
}
