@import "primeicons/primeicons.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  
}
header,footer{
  width: 100%;
}

h2 {
  text-align: center;
  font-weight: 400;
  color: var(--color-1);
  margin-bottom: 0px;
}
.sub-title {
  font-weight: 300;
  color: var(--color-1);
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  min-height: 80%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
   
  }
 
}
